<?xml version="1.0"  encoding="UTF-8"?>


<Configuration status="WARN" >
	
	<Properties>
		<Property name="basepath">./logs</Property>
	</Properties>
	
	
  <Appenders>
      <Console name="Console"  target = "SYSTEM_OUT" >
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      </Console>
    
    <RollingFile Name="File" fileName= "${logs}/automation.log" filePattern="${logs}/automation-%d{yyyy-MM-DD}.log">
    	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<SizeBasedTriggeringPolicy size="5000"/>
	</RollingFile>
 
  </Appenders>
  
  <Loggers>
    <Root level="Debug">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>